#wai{
    background-color: rgb(230, 204, 255);
    height: 600px;
}
#whai{
    padding-top: 20px;
    background-color: rgb(151, 189, 255); 
    height: 200px;
}
img{
    width: 500px;
    height: 300px;
}